@import "support/@all";

.base {
	background: linear-gradient(
			45deg,
			hsla(0, 0%, 59.6%, 0.07),
			hsla(0, 0%, 59.6%, 0.07) 48%,
			hsla(0, 0%, 53.3%, 0.07) 0,
			hsla(0, 0%, 53.3%, 0.07)
		),
		linear-gradient(
			45deg,
			hsla(0, 0%, 92.2%, 0.06),
			hsla(0, 0%, 92.2%, 0.06) 79%,
			hsla(0, 0%, 85.5%, 0.06) 0,
			hsla(0, 0%, 85.5%, 0.06)
		),
		linear-gradient(
			135deg,
			rgba(12, 12, 12, 0.04),
			rgba(12, 12, 12, 0.04) 30%,
			rgba(79, 79, 79, 0.04) 0,
			rgba(79, 79, 79, 0.04)
		),
		linear-gradient(
			45deg,
			hsla(0, 0%, 67.8%, 0.03),
			hsla(0, 0%, 67.8%, 0.03) 66%,
			hsla(0, 0%, 96.1%, 0.03) 0,
			hsla(0, 0%, 96.1%, 0.03)
		),
		linear-gradient(
			135deg,
			rgba(84, 84, 84, 0.06),
			rgba(84, 84, 84, 0.06) 51%,
			hsla(0, 0%, 64.7%, 0.06) 0,
			hsla(0, 0%, 64.7%, 0.06)
		),
		linear-gradient(
			45deg,
			rgba(15, 15, 15, 0.02),
			rgba(15, 15, 15, 0.02) 14%,
			rgba(95, 95, 95, 0.02) 0,
			rgba(95, 95, 95, 0.02)
		),
		linear-gradient(
			0deg,
			rgba(34, 34, 34, 0.05),
			rgba(34, 34, 34, 0.05) 58%,
			rgba(98, 98, 98, 0.05) 0,
			rgba(98, 98, 98, 0.05)
		),
		linear-gradient(90deg, #fff, #fff);

	height: 100%;

	@include breakpoint("desktop") {
	}
	@include breakpoint("tablet") {
	}
	@include breakpoint("mobile") {
		background: initial;
	}

	&__wrapper {
		height: 100%;
		align-items: center;
		justify-content: center;
		font-family: Open Sans, sans-serif;
		font-size: 14px;
		color: #555;
		margin: 0;

		@include breakpoint("desktop") {
			display: flex;
			flex-direction: row;
		}
		@include breakpoint("tablet") {
			display: flex;
			flex-direction: row;
		}
		@include breakpoint("mobile") {
			display: block;
		}
	}
}
