$color__primary: #0372ef;
$color__error: #ef0703;

$font__heading: "Montserrat", sans-serif;
$font__body: "Open Sans", sans-serif;

$radius__global: 3px;

$breakpoint__mobile: 700px;
$breakpoint__tablet: 1100px;
